{% block listeAmis %}
    <button class="retour boutonLien"><a href="/profil">Retour au profil</a></button>
    <div class="listeAmis">
        {{ include('blocs/erreur.twig', {erreur: erreur}, with_context = false) }}
        <form id="listeAmis" method="post" action="/profil/post">
            <div class="titre">
                Liste d'amis
            </div>
            <input name="token" id="token" value="{{ token }}" type="hidden">
            {% for ami in listeAmis %}
                <div class="ami {% if loop.index % 2 == 0 %}ligne1{% else %}ligne2{% endif %}">
                    {{ include('profil/carteAmi.twig', {ami: ami}, with_context = false) }}
                    <button name="supprimerAmi" value="{{ ami.id }}" class="supprimerAmi">X</button>
                </div>
            {% else %}
                <div class="message">
                    Vous n'avez pas encore d'amis dans votre liste.
                </div>
            {% endfor %}
        </form>
        <form id="listeNonAmis" method="post" action="/profil/post">
            <div class="titre">
                Autres profils
            </div>
            <input name="token" id="token" value="{{ token }}" type="hidden">
            {% if listeProfilsNonAmis %}
                <label id="rechercheProfil">
                    Recherche :
                    <input name="recherche" type="text" id="recherche">
                </label>
            {% endif %}
            <div id="listeResultatNonAmis">
                {{ include('profil/listeNonAmis.twig', {listeProfilsNonAmis: listeProfilsNonAmis}) }}
            </div>
        </form>
    </div>
{% endblock %}