{% block profil %}
    <div class="profil">
        {{ include('blocs/erreur.twig', {erreur: erreur}, with_context = false) }}
        {% if profil.isAvatar %}
            <a href="/profil/avatar" class="avatar">
                <img src="{{ profil.avatar }}" alt="Avatar de {{ profil.prenom }} {{ profil.nom }}">
            </a>
        {% else %}
            <button class="boutonLien boutonAvatar" type="button">
                <a href="/profil/avatar">Ajouter un avatar</a>
            </button>
        {% endif %}
        <div class="nomPrenom">
            {{ profil.prenom }} {{ profil.nom }}
        </div>
        <div class="description">
            <span class="legende">Description :</span> {{ profil.description ?? 'Aucune description fournie' }}
        </div>
        <div class="contrat">
            {% if profil.contrat %}
                {% if profil.contrat.enactivite %}
                    <div class="titre">Contrat</div>
                    <div class="dateContrat">
                        <span class="legende">Date de début :</span>
                        {{ profil.contrat.dateDebut|date('D d F Y')|format_date('full', locale='fr') }}
                    </div>
                    <div class="dateContrat">
                        <span class="legende">Date de fin :</span>
                        {% if profil.contrat.dateFin %}{{ profil.contrat.dateFin|date('D d F Y')|format_date('full', locale='fr') }}{% else %}Pas de fin, il s'agit d'un CDI{% endif %}
                    </div>
                    <div class="departement">
                        <span class="legende">Département :</span>
                        {{ profil.contrat.departement }}
                    </div>
                {% else %}
                    <div class="departementResidence">
                        <span class="legende">Département de résidence ou de séjour :</span>
                        {{ profil.contrat.departement }}
                    </div>
                {% endif %}
            {% else %}
                <div class="message">
                    Aucun contrat en cours
                </div>
            {% endif %}
        </div>
        <div class="liensProfil">
            <button class="boutonLien" type="button">
                <a href="/profil/editer">Éditer</a>
            </button>
            <button class="boutonLien" type="button">
                <a href="/profil/listeAmis">Liste d'amis</a>
            </button>
            <button class="boutonLien" type="button">
                <a href="/profil/supprimer">Supprimer</a>
            </button>
        </div>
        {% if profil.contrat and (not profil.contrat.dateFin or profil.contrat.dateFin > 'now'|date('U')) %}
            <div class="sousTitre">
                Liste de vos amis dans le même département :
            </div>
            <div class="amis">
                {% for ami in profil.profilsAmis|filter(v => profil.estAmitie(v.id) and profil.contrat.departement.id == v.contrat.departement.id and (not v.contrat.dateFin or v.contrat.dateFin > 'now'|date('U'))) %}
                    {{ include('profil/carteAmi.twig', {ami: ami}, with_context = false) }}
                {% else %}
                    <div class="message">
                        Il n'y a actuellement personne dans votre liste d'amis qui soit dans le même département que vous.
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="sansContrat info">
                Si vous souhaitez savoir qui est actuellement en contrat dans votre département, vous devez renseigner un contrat actif.
            </div>
        {% endif %}
    </div>
{% endblock %}