{% block inscriptionFormulaire %}
    <div class="inscriptionFormulaire">
        <div class="titre">
            Formulaire d'inscription
        </div>
        {{ include('blocs/erreur.twig', {erreur: erreur}, with_context = false) }}
        <form action="/inscription/post" id="inscription" method="post">
            <input type="hidden" name="token" id="token" value="{{ token }}"/>
            <div class="nomPrenom">
                <div class="champ">
                    <label for="nom">
                        Nom :
                    </label>
                    <input type="text" name="nom" id="nom" value="{{ post.nom }}" required/>
                </div>
                <div class="champ">
                    <label for="prenom">
                        Prénom :
                    </label>
                    <input type="text" name="prenom" id="prenom" value="{{ post.prenom }}" required/>
                </div>
            </div>
            <div class="champ">
                <label for="email">
                    Email :
                </label>
                <input type="email" name="email" id="email" value="{{ post.email }}" required/>
            </div>
            <div class="champ">
                <label for="mdp">
                    Mot de passe :
                </label>
                <input type="password" name="mdp" id="mdp" minlength="8" required/>
            </div>
            <div class="champ">
                <label for="mdp2">
                    Confirmez le mot de passe :
                </label>
                <input type="password" name="mdp2" id="mdp2" minlength="8" required/>
            </div>
            <button class="boutonValider">Valider l'inscription</button>
        </form>
    </div>
{% endblock %}